<% include ../partials/header %>
    <h5><a href="/">Torna alla pagina iniziale</a></h5>
    <h5><a href="/api/soci/view">Torna a tutti i soci</a></h5>
    <h1>Aggiorna socio <%= socio.nome %> <%= socio.cognome %></h1>
    <form id="aggiornaSocioForm">
        <input type="hidden" id="socioId" name="socioId" value="<%= socio._id %>"></input>
        <p><b>Nome</b> <input type="text" required id="nomeAgg" name="nomeAgg" value="<%= socio.nome %>"></input> <b>*</b></p>
        <p><b>Cognome</b> <input type="text" required id="cognomeAgg" name="cognomeAgg" value="<%= socio.cognome %>"></input> <b>*</b></p>
        <p><b>Numero tessera</b> <input type="number" min=1 required id="numero_tesseraAgg" name="numero_tesseraAgg" value="<%= socio.numero_tessera %>"></input> <b>*</b></p>
        <p>
            <b>Sesso</b> <b>*</b>
            <input <% if (socio.sesso === "M") { %> checked <% } %> type="radio" required id="sessoMAgg" name="sessoAgg" value="M"></input>M
            <input <% if (socio.sesso === "F") { %> checked <% } %> type="radio" required id="sessoFAgg" name="sessoAgg" value="F"></input>F
        </p>
        <p><b>Data di nascita</b> <input type="date" required id="nascitaAgg" name="nascitaAgg" value="<%= socio.nascita.toLocaleString("it-IT", { "year": "numeric", "month": "2-digit", "day": "2-digit" }) %>"></input> <b>*</b></p>
        <p><b>Email</b> <input type="email" required id="emailAgg" name="emailAgg" value="<%= socio.email %>"></input> <b>*</b></p>
        <p><b>Nazionalità</b> <input type="text" id="nazionalitaAgg" name="nazionalitaAgg" value="<%= socio.nazionalita %>"></input></p>
        <p><b>Ruolo</b> <input type="text" id="ruoloAgg" name="ruoloAgg" value="<%= socio.ruolo %>"></input></p>
        <p><b>Regione</b> <input type="text" id="regioneAgg" name="regioneAgg" value="<%= socio.indirizzo.regione %>"></input></p>
        <p><b>Provincia</b> <input type="text" maxlength="2" id="provinciaAgg" name="provinciaAgg" value="<%= socio.indirizzo.provincia %>"></input></p>
        <p><b>Città</b> <input type="text" id="cittaAgg" name="cittaAgg" value="<%= socio.indirizzo.citta %>"></input></p>
        <p><b>CAP</b> <input type="text" maxlength="5" id="capAgg" name="capAgg" value="<%= socio.indirizzo.cap %>"></input></p>
        <p><b>Via</b> <input type="text" id="viaAgg" name="viaAgg" value="<%= socio.indirizzo.via %>"></input></p>
        <p><b>Civico</b> <input type="text" id="civicoAgg" name="civicoAgg" value="<%= socio.indirizzo.civico %>"></input></p>
        <p><b>Numero telefono 1</b> <input type="text" id="telefono1Agg" name="telefono1Agg" value="<%= socio.telefoni.telefono1 %>"></input></p>
        <p><b>Numero telefono 2</b> <input type="text" id="telefono2Agg" name="telefono2Agg" value="<%= socio.telefoni.telefono2 %>"></input></p>
        <p><b>Professione</b> <input type="text" id="professioneAgg" name="professioneAgg" value="<%= socio.professione %>"></input></p>
        <p><b>Interesse 1</b> <input type="text" id="interesse1Agg" name="interesse1Agg" value="<%= socio.interessi.interesse1 %>"></input></p>
        <p><b>Interesse 2</b> <input type="text" id="interesse2Agg" name="interesse2Agg" value="<%= socio.interessi.interesse2 %>"></input></p>
        <p><b>Note</b> <textarea type="text" id="noteAgg" name="noteAgg"><%= socio.note %></textarea></p>
        <p><b>Prima iscrizione</b> <input type="date" id="prima_iscrizioneAgg" name="prima_iscrizioneAgg" value="<%= socio.prima_iscrizione.toLocaleString("it-IT", { "year": "numeric", "month": "2-digit", "day": "2-digit" }) %>"></input></p>
        <p><b>Ultimo rinnovo iscrizione</b> <input type="date" id="ultimo_rinnovo_iscrizioneAgg" name="ultimo_rinnovo_iscrizioneAgg" value="<%= socio.ultimo_rinnovo_iscrizione.toLocaleString("it-IT", { "year": "numeric", "month": "2-digit", "day": "2-digit" }) %>"></input></p>
        <p><button type="submit">Aggiorna socio</button></p>
    </form>
<% include ../partials/footer %>
