<% include ../partials/header %>
    <h5><a href="/">Torna alla pagina iniziale</a></h5>
    <% if (locals.numero_tessera) { %>
        <h5><a href="/api/logs/view">Torna a tutti i log</a></h5>
        <h1> Log per numero tessera <%= numero_tessera %></h1>
    <% } else if (locals.nome && locals.cognome) { %>
        <h5><a href="/api/logs/view">Torna a tutti i log</a></h5>
        <h1>Log per <%= nome %> <%= cognome %></h1>
    <% } else if (locals.tipo) { %>
        <h5><a href="/api/logs/view">Torna a tutti i log</a></h5>
        <h1>Log per tipo <%= tipo %></h1>
    <% } else if (locals.data) { %>
        <h5><a href="/api/logs/view">Torna a tutti i log</a></h5>
        <h1>Log in data <%= data %></h1>
    <% } else { %>
        <h1>Tutti i log</h1>
        <form id="cercaPerDataForm" name="cercaPerDataForm" onSubmit="return validateData()">
            <p><b>Anno </b><input type="text" id="anno" required name="anno"> <b>*</b></p>
            <p><b>Mese </b><input type="text" id="mese" name="mese"></p>
            <p><b>Giorno </b><input type="text" id="giorno" name="giorno"></p>
            <p><button type="submit">Cerca per data</button></p>
        </form>
    <% } %>
    <% if (logs.length>0) { %>
        <table class="list-table">
            <thead>
                <tr>
                    <th>Entrata</th>
                    <th>Data</th>
                    <th>Nome e cognome</th>
                    <th>Numero tessera</th>
                    <th>Seriale</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<logs.length; i++) { %>
                    <tr>
                        <td><a href="/api/logs/viewByTipo/<%= logs[i].tipo %>"><%= logs[i].tipo %></a></td>
                        <td><%= dateFormat(logs[i].data.toLocaleString("it-IT", { "year": "numeric", "month": "2-digit", "day": "2-digit", "hour": "2-digit", "minute": "2-digit", "second": "2-digit" })) %></td>
                        <td>
                            <% if (logs[i].nome !== "N/A" && logs[i].cognome !== "N/A") { %>
                                <a href="/api/logs/viewByNomeCognome/<%= logs[i].nome %>/<%= logs[i].cognome  %>"><%= logs[i].nome %> <%= logs[i].cognome %></a>
                            <% } else { %>
                                N/A
                            <% } %>
                        </td>
                        <td>
                            <% if (logs[i].numero_tessera > 0) { %>
                                <a href="/api/logs/viewByNumeroTessera/<%= logs[i].numero_tessera %>"><%= logs[i].numero_tessera %></a>
                            <% } else { %>
                                <%= logs[i].numero_tessera %>
                            <% } %>
                        </td>
                        <td><%= logs[i].seriale %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } else { %>
        <div>Non ho trovato alcun log.</div>
    <% } %>
<% include ../partials/footer %>
