<% include ../partials/header %>
    <h5><a href="/">Torna alla pagina iniziale</a></h5>
    <h5><a href="/api/tessere/create">Aggiungi una tessera</a></h5>
    <h1>Tutte le tessere</h1>
    <% if (tessere.length>0) { %>
        <table class="list-table">
            <thead>
                <tr>
                    <th>Numero tessera</th>
                    <th>Seriale</th>
                    <th>Stato</th>
                    <th>Data di rilascio</th>
                    <th>Ultimo rinnovo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<tessere.length; i++) { %>
                    <tr>
                        <td><%= tessere[i].numero_tessera %></td>
                        <td><%= tessere[i].seriale %></td>
                        <td><%= tessere[i].stato %></td>
                        <td><%= dateFormat(tessere[i].rilasciato.toLocaleString("it-IT", { "year": "numeric", "month": "2-digit", "day": "2-digit" })) %></td>
                        <td><%= dateFormat(tessere[i].ultimo_rinnovo.toLocaleString("it-IT", { "year": "numeric", "month": "2-digit", "day": "2-digit" })) %></td>
                        <% if (tessere[i].stato === "ATTIVATA") { %>
                            <td><button class="cambiaStatoTesseraButton" value="<%= tessere[i]._id %>" type="button">Disattiva</button><td>
                        <% } else if (tessere[i].stato === "DISATTIVATA"){ %>
                            <td><button class="cambiaStatoTesseraButton" value="<%= tessere[i]._id %>" type="button">Attiva</button><td>
                        <% } %>
                        <td><button class="rimuoviTesseraButton" value="<%= tessere[i]._id %>" type="button">Rimuovi</button><td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } else { %>
        <div>Non ho trovato alcuna tessera.</div>
    <% } %>
<% include ../partials/footer %>
